<h1>New game</h1>

<% @letters.each do |letter| %>
<p id="letter"><%= letter %></p>
<% end %>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <p>What's the longest word you can find?</p>
  <input type="text" name="word" >
  <input type="submit" value="Play">
</form>
